<component name="ArtifactManager">
  <artifact type="war" name="SpringAuthenticationSecurity:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringAuthenticationSecurity.war">
      <element id="artifact" artifact-name="SpringAuthenticationSecurity:war exploded" />
    </root>
  </artifact>
</component>